.modal-backdrop {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: rgba(5, 4, 23, 0.8);
	z-index: 1000;

	.modal-content-wrapper {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 1.563em;
		width: 70.5rem;
		max-width: 100%;
		background: var(--clr-neutral-100);
		z-index: 1001;

		.modal-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-height: 80vh;

			img {
				max-height: 65vh;
			}

			.image-info {
				margin-top: 2.813em;
				width: 100%;

				.heading {
					display: flex;
					align-items: center;
					justify-content: space-between;
					row-gap: 1em;

					.user-info {
						display: flex;
						align-items: center;

						.profile-pic {
							width: clamp(3.75rem, 10vw, 4.275rem);
							margin-right: 1.25rem;
							border-radius: 100px;
							cursor: pointer;
						}

						.user-name {
							font-weight: 700;
							font-size: clamp(1.4rem, 4vw, 1.875rem);
							color: black;
						}
						.social-name {
							font-weight: 700;
							font-size: clamp(1rem, 3vw, 1.25rem);
							color: var(--clr-accent-500);
							cursor: pointer;

							&:hover {
								text-decoration: underline;
							}
						}
					}
					.download-btn {
						display: flex;
						align-items: center;
						justify-content: justify-between;
						font-weight: 700;
						font-size: 18px;
						font-family: "Open Sans", sans-serif;
						color: var(--clr-accent-500);
						background: none;
						border: 3px solid var(--clr-accent-500);
						border-radius: 10px;
						padding: 1.125em 2.375em 1.125em 1.563em;
						column-gap: 1.6em;
						transition: all 0.2s ease-in-out;
						cursor: pointer;

						&:hover {
							color: white;
							background: var(--clr-accent-500);
						}
					}
					@media (max-width: 550px) {
						.download-btn {
							padding: 1em;
							column-gap: 0;

							span {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
