.header {
	width: 100%;
	background-color: var(--clr-neutral-900);
	position: fixed;
	z-index: 1000;

	.header-content {
		padding: 1.5625em clamp(1em, 8vw, 6.625em) 1.5625em clamp(1em, 6vw, 3.125em);
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 1em;

		.form-fields {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			column-gap: 2em;
			row-gap: 1em;
		}

		.btn-shrink {
			padding: 0.5em;

			.search-text {
				display: none;
			}
			.search-icon {
				width: 3rem;
				min-width: 2rem;
				display: block;
			}
		}

		@media (min-width: 630px) {
			.btn-shrink {
				padding: 1.063em 5.5em 0.813em 5.875em;

				.search-text {
					display: flex;
				}

				.search-icon {
					display: none;
				}
			}
		}
	}

	@media (max-width: 800px) {
		.header-logo {
			display: none;
		}
	}
}
